@import "../../scss/color";

.table {
    width: 100%;
    background: $white;
    border-spacing: 0;
}

tr {
    &.header-row {
        height: 56px;
    }

    &.data-row {
        height: 48px;
    }

    .header-cell:first-of-type,
    .data-cell:first-of-type {
        padding-left: 24px;
    }

    .header-cell:last-of-type,
    .data-cell:last-of-type {
        padding-left: 24px;
    }

    .header-cell {
        text-align: left;
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
    }
    .data-cell {
        font-size: 14px;
    }

    .data-cell:hover {
        cursor: pointer;
    }

    .header-cell,
    .data-cell {
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}
